.wrapper {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .description {
        width: 60%;
        h1 {
            font-size: 1.5rem;
            font-weight: 800;
            padding-bottom: 2vh;
            width: auto;
            border-bottom: 5px solid #1c3661;
        }
            p {
                padding-top: 5vh;
                white-space: pre-line;
                line-height: initial;
              }
    }
    .form {
        width: 35%;
        height: 65vh;
        border-radius: 10px;
        background: rgba(#1c3661, .1);
        .content_wrapper {
            padding-top: 2vh;
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 10vh;
                height: 10vh;
                object-fit: cover;
                border-radius: 50%;
                border: 3px solid white;
                box-shadow: 0px 5px 10px 2px rgba(#1c3661, 0.3);
            }
            h3 {
                font-size: 1rem;
                color: #1c3661;
            }
            p {
                font-size: .7rem;
            }
            span {
                font-size: .7rem;
                width: 90%;
            }
            form {
                width: 100%;
                input {
                    margin-top: 2vh;
                    padding-left: 1vw;
                    height: 5vh;
                    width: 100%;
                    border:1px solid rgba(#1c3661, 0.5);
                    border-radius: 5px;
                }
                textarea {
                    margin-top: 2vh;
                    padding-left: 1vw;
                    padding-top: 5px;
                    height: 10vh;
                    width: 100%;
                    border:1px solid rgba(#1c3661, 0.5);
                    border-radius: 5px;
                }
                
            }
        }
    }
}

@media (max-width: 991.98px) {
    .wrapper {
        height: auto;
        flex-direction: column;
        .description {
            width: 100%;
            h1 {
                font-size: 8vw;
            }
        }
        .form {
            width: 100%;
            height: auto;
            margin-top: 5vh;
            padding: 5vh 0 5vh 0;
            .content_wrapper {
                display: flex;
                flex-direction: column;
                
                h3 {
                    font-size: 4vw;
                    padding-top: 4vh;
                }
                
                span {
                    margin-top: 2vh;
                    font-size: 3vw;
                    text-align: center;
                }
                form  {
                    input {
                        height: 8vh;
                    }
                    p {
                        font-size: 2vw;
                    }

                }
                button {
                    font-size: 3vw;
                    margin: 0 auto;
                }
            }
        }
    }
  }