.wrapper {
    height: 50vh;
    width: 80vw;
    margin: 0 auto;
    border-radius: 20px;
    background: #1c3661;
    color: #F2F2F2;
    h1 {
        font-size: 1.5rem;
        padding-top: 5vh;
        margin-left: 5%;
    }
    form {
        margin-top: 2%;
        margin-left: 5%;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 2rem;
        .input {
            height: 5vh;
            border: none;
            border-radius: 10px;
            border: 3px solid gray;
            overflow: hidden;
            input,select {
                padding-left: 5%;
                height: 100%;
                width: 100%;
                border: none;
            }
        }
    }
}