.content {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 5%;
  div {
    // text-align: right;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-end;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    height: 40%;
    span {
      font-weight: 900;
      color: #1c3661;
    }
    h1 {
      padding-top: 2vh;
      padding-bottom: 2vh;
      font-weight: 900;
      font-size: 2rem;
      width: 90%;
    }
    p {
      width: 100%;
      padding: 1vh 0 1vh 0;
    }
    button {
      margin-top: 5vh;
      align-self: flex-end;
    }
    ul {
      width: 90%;
      margin: 0 auto;
      list-style: none;
      text-align: left;
      display: flex;
      justify-content: space-between;
      padding: 5vh 0 5vh 0;
      li {
        height: 25vh;
        width: 47.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #1c3661;
        border-radius: 10px;
        border: 8px solid #3c67ac;
        transition: all ease .5s;
        cursor: pointer;
        span {
          font-size: 3rem;
          color: #F2F2F2;
        }
        p {
          text-align: center;
          color: #F2F2F2;
          width: 80%;
        }
        &:hover {
          -webkit-box-shadow: 0px 0px 15px 5px #1c3661; 
          box-shadow: 0px 0px 15px 5px #1c3661;
        }
      }
    }
  }
}
.cards {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  .left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 16%;
    height: 100%;
    width: 40%;
  }
}

@media (max-width: 991.98px) {
  .content {
    position: initial;
    height: auto;
    width: 100%;
    padding: 5vh 0 5vh 0;
    div {
      position: initial;
      transform: translate3d(0, 0, 0);
      h1 {
        text-align: center;
        font-size: 8vw;
        margin: 0 auto;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
      ul {
        li {
          transform: scale;
        }
      }
      button {
        margin-top: 5vh;
        align-self: center;
      }
    }
  }
  .card {
    display: none;
  }
}
