
    .content {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        span {
            color: #1c3661;
            font-weight: 900;
        }
        .main {
            padding-top: 2vh;
            font-weight: 900;
            font-size: 2rem;
            width: 50%;
            span {
                color: #1c3661;
                font-weight: 900;
            }
        }
        h1 {
            width: 80%;
            font-weight: 900;
            span {
                font-weight: 900;
                color: #1c3661;
            }
        }
    }
    .slideshow {
        margin-top: 5vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform-style: preserve-3d;
    perspective: 100px;
    }
    .clic {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

@media (max-width: 991.98px) {
.content {
    position: initial;
    transform: translate3d(0, 0, 0);
    margin: 0 auto;
    text-align: center;
    height: auto;
    span {
        margin: 0 auto;
        font-size: 3vw;
    }
    .main {
        font-size: 8vw;
        text-align: center;
        width: 100%;
    }
    }
    .slideshow {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5vh;
    }
    .clic {
        position: initial;
        transform: translate3d(0,0,0);
        margin: 0 auto;
        margin: 5vh 0 2vh 0;
    }
  }