.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2vh 0 5vh 0;
    h2 {
        padding: 5vh 0 5vh 0;
        color: #1c3661;
    }
    h3 {
        padding: 2vh 0 2vh 0;
        color: #1c3661;
    }
    p {
        padding: 1vh 0 1vh 0;
        text-align: initial;
        text-justify: newspaper;
    }
}