.wrapper {
  height: 120vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .intro {
    width: 80%;
    p {
      padding-top: 1vh;
    }
    margin: 0 auto;
    h1 {
      width: 50%;
      right: 10vw;
      font-size: 2rem;
      font-weight: 900;
      margin-top: 2vh;
      span {
        font-weight: 900;
        color: #1c3661;
      }
    }
    p {
      width: 40%;
    }
  }
  .cards_grid {
    margin: 0 auto;
    height: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5vh;
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    height: auto;
    padding: 5vh 0 5vh 0;
    .intro {
      display: block;
      width: 100%;
      margin: 0 auto;
      h1 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 8vw;
        span {
            font-weight: 900;
            color: #1c3661;
        }
    }
    p {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 5vh 0 5vh 0;
      }
    }
    .cards_grid {
      display: none;
    }
  }
}
