.wrapper {
  height: auto;
  width: 100%;
  position: relative;
  height: 15vh;
//   .bar {
//       border-top: 4px solid #1c3661;
//       position: absolute;
//       top: 50%;
//       transform: translate3d(0,-50%,0);
//   }
.card_wrap {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,0,0);
  display: flex;
  .cards {
    height: 15vh;
    width: 15vh;
    background: chartreuse;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid grey;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all ease .5s;
    margin-right: 5vw;
    &:last-of-type {
      margin-right: 0;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    &:hover {
      -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      filter: grayscale(0%);
    }
  }
}

  
  
}

