.wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 10vh;
    .head {
        padding: 2vh 0 2vh 0;
        h1 {
            font-size: 1.1rem;
            font-weight: 900;
            color: #1c3661;
        }
        p {
            font-size: .8rem;
        }
    }
    .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 990px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        .head {
            padding: 5vh 0 5vh 0;
        }
        .list {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 5vh;
        }
    }
}