
    .content {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(0, -50%,0);
        width: 50%;
        span {
            color: #1c3661;
            font-weight: 900;
        }
        h1 {
            padding-top: 2vh;
            font-weight: 900;
            font-size: 2rem;
            span {
                font-weight: 900;
            }
        }
        p {
            padding-top: 2vh;
            width: 80%;
        }
        button {
            margin-top: 10vh;            
            font-weight: 900;
        }
    }
    
    
    @media screen and (max-width: 600px) {
        .content {
            padding: 10vh 0 10vh 0;
            position: initial;
            transform: translate3d(0, 0,0);
            width: 100%;
            h1 {
                width: 90%;
                margin: 0 auto;
            }
            p {
                width: 90%;
                margin: 0 auto;
            }
            button {
                margin-top: 5vh;            
                font-weight: 900;
            }
        }
    }