.wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
    .content {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(0, -50%,0);
        width: 50%;
        span {
            color: #1c3661;
            font-weight: 900;
        }
        h1 {
            padding-top: 2vh;
            font-weight: 900;
            font-size: 2rem;
            span {
                font-weight: 900;
            }
        }
        p {
            padding-top: 2vh;
        }
        button {
            margin-top: 10vh;            font-weight: 900;
        }
    }
    
}