.wrapper {
    margin-top: 5vh;
    width: 50%;
    position: relative;
    display: inline-block;
    h1 {
        font-size: 1.2rem;
            font-weight: 800;
            padding-bottom: 2vh;
            border: none;
    }
    .letter_wrap {
        height: 20vh;
        // background: chartreuse;
        position: absolute;
        .letter {
            position: relative;
            width: 4vw;
            height: 4vw;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            border-radius: 10px;
            color: white;
            margin-right: 1vw;
            &:last-of-type {
                margin-right: 0;
            }
        }
        
    }
}

.cursor {
    position: absolute;
    height: 12vw;
    width: 4vw;
    .bar{
        position: absolute;
        height: 100%;
        border-left: 2px solid #1c3661;
        left: 50%;
        transform: translate3d(-50%,0,0);
    }
    .ges_value {
        position: absolute;
        bottom: 0;
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
        background: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate3d(-50%,0,0);
        border: 2px solid #1c3661;
        font-size: 1rem;
        font-weight: 900;
        p {
            text-align: center;
            line-height: initial;
            width: 80%;
            span {
                display: block;
                font-size: .5rem;
            }
        }
        
    }
}