.wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 50%;
    border-radius: 10px;
    padding:  5vh 0 5vh 0;
    background: rgba(#1c3661, .3);
    input, textarea, select {
        display: block;
        width: 70%;
        margin: 0 auto;
        height: 5vh;
        padding-left: 5vh;
        margin-top: 5vh;
        border-radius: 10px;
        border: none;
    }
    div {
        margin: 5vh;
        input {
            margin: 0;
        }
        display: flex;
        align-items: center;
    }
    span {
        color: #1c3661;
        font-size: 2.5rem;
        font-weight: 900;
        margin: 0 auto;
    }
}