.wrapper {
    width: 80vw;
    margin: 0 auto;
    height: 40vh;
    .section_title {
        font-size: 1.5rem;
            font-weight: 800;
            padding-bottom: 2vh;
            border-bottom: 5px solid #1c3661;
            }
}
@media screen and (max-width: 1400px) {
    .wrapper {
        height: auto;
        flex-direction: column;
        .section_title {
            font-size: 8vw;
        }
        h1 {
            font-size: 4vw;
        }
  }
}